.modal {
  background-color: rgba(0,0,0,0.8);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1050;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 599px) {
    padding: 150px 10px 0 11px;
    box-sizing: border-box;
    display: block;
  }
  @media only screen
    and (min-device-width : 600px)
    and (max-device-width : 1024px) {
      padding: 0;
  }

  .body {
    width: 570px;
    height: 310px;
    padding: 20px 0;
    box-sizing: border-box;
    background: $white;
    box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;

    @media screen and (max-width: 599px) {
      width: 100%;
    }

    h3 {
      margin: 23px 0 0;
      font-family: $bodyBoldFont;
      font-style: normal;
      font-weight: bold;
      font-size: 23px;
      line-height: 28px;

      @media screen and (max-width: 599px) {
        font-size: 20px;
        line-height: 26px;
      }
    }
    input {
      width: 100%;
      font-family: $bodyRegularFont;
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      line-height: 22px;
      padding: 12px 10px;
      margin: 21px 0 0;
      box-sizing: border-box;
    }
    &__step {
      text-align: center;

      span {
        color: #848484;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
      }
      &--divider {
        margin: 0.5em 0 0.5em 0;
        border: 0;
        height: 3px;
        width: 100%;
        display: block;
        background-color: $bgGrey;
        position: relative;
        // background-image: linear-gradient(to right, $primary, $secondary);
      }
    }
    &__email {
      margin: 23px 0 0;

      p {
        color: red;
        margin: 0;
        font-weight: 300;
        font-size: 12px;
        line-height: 14px;
      }
      input {
        margin: 5px 0 0;
      }
    }
  }
  .close {
    color: $black;
    position: relative;
    font-size: 30px;
    text-align: right;
    top: -138px;
    right: -560px;
    cursor: pointer;

    @media screen and (max-width: 599px) {
      top: 35px;
      right: 20px;
    }
  }
  img {
    height: 600px;
  }
}

.loader {
  display: flex;
  justify-content: center;

  svg path,
  svg rect{
    fill: $primary;
  }
}

.divider__step {
  margin: 0.5em 0 0.5em 0;
  border: 0;
  height: 3px;
  width: 100%;
  display: block;
  background-color: $secondary;
  background-image: linear-gradient(to right, $primary, $secondary);
  position: absolute;
  top: -8px;

  &--half {
    margin: 0.5em 0 0.5em 0;
    border: 0;
    height: 3px;
    width: 50%;
    display: block;
    background-color: $secondary;
    background-image: linear-gradient(to right, $primary, $secondary);
    position: absolute;
    top: -8px;
  }
}

// form
.group {
  position:relative;

  input {
    height: 54px;
    font-size: 16px;
    font-style: normal;
    line-height: 19px;
    padding: 23px 10px 0 !important;
    display:block;
    width:300px;
    border: 1px solid #eee;
    box-shadow: inset 0px 1px 5px rgba(142, 142, 142, 0.5);
  }
  input:focus { outline:none; }

  /* LABEL ======================================= */
  label {
    color: $fontInput;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    position:absolute;
    pointer-events:none;
    left:15.12px;
    top:16px;
    transition:0.2s ease all;
    -moz-transition:0.2s ease all;
    -webkit-transition:0.2s ease all;
  }

  /* active state */
  input:focus ~ label, input:valid ~ label {
    top: 8px;
    left: 10px;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
  }

  /* BOTTOM BARS ================================= */
  .bar 	{ position:relative; display:block; width:300px; }
  .bar:before, .bar:after {
    content:'';
    height:2px;
    width:0;
    bottom:1px;
    position:absolute;
    // background:#5264AE;
    transition:0.2s ease all;
    -moz-transition:0.2s ease all;
    -webkit-transition:0.2s ease all;
  }
  .bar:before {
    left:50%;
  }
  .bar:after {
    right:50%;
  }

  /* active state */
  input:focus ~ .bar:before, input:focus ~ .bar:after {
    width:50%;
  }

  /* HIGHLIGHTER ================================== */
  .highlight {
    position:absolute;
    height:60%;
    width:100px;
    top:25%;
    left:0;
    pointer-events:none;
    opacity:0.5;
  }

  /* active state */
  input:focus ~ .highlight {
    -webkit-animation:inputHighlighter 0.3s ease;
    -moz-animation:inputHighlighter 0.3s ease;
    animation:inputHighlighter 0.3s ease;
  }

  /* ANIMATIONS ================ */
  @-webkit-keyframes inputHighlighter {
  	from { background:transparent; }
    to 	{ width:0; background:transparent; }
  }
  @-moz-keyframes inputHighlighter {
  	from { background:transparent; }
    to 	{ width:0; background:transparent; }
  }
  @keyframes inputHighlighter {
  	from { background:transparent; }
    to 	{ width:0; background:transparent; }
  }

}
