.tips {
  width: 30%;
  max-width: 270px;
  height: 640px;
  margin: 154px 0 0 0;
  background: $bgGrey;

  @media screen and (max-width: 599px) {
    width: 100%;
    max-width: 340px;
    margin: 33px 0 37px;
  }
  @media only screen
    and (min-device-width : 600px)
    and (max-device-width : 1024px) {
      width: 35%;
      margin: 154px 0 0 0;
  }

  .btn {
    margin: 40px auto 0;
  }
}
